body{
    scroll-behavior: smooth;
    background-color: #95B2A8;
}
.fist {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    max-width: 850px;
    color: #96CDD0;
    padding: 10px;
    background-color: #5B6866;
    border-radius: 19px;
    text-align: center;
}
.osnovd{
    display: flex;
    max-width: 1500px;
    margin: 70px auto 0;
    justify-content: space-between;
}
.texto{
    max-width: 600px;
    margin: 30px 10px auto;
}
.zakolov{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #96CDD0;
    margin: 0 0 180px;
    padding: 25px 30px;
}
.spis{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #96CDD0; 
    max-width: 577px;
    width: 100%;
}
.spis > li{
    padding: 8px 15px;
}
.spis a{
    color: #96CDD0;
    text-decoration: none;
}
.img{
    max-width: 694px;
}
.img > img{
    width: 100%;
    border-radius: 19px;
}

.obsetsvo1{
    margin: 55px auto 0;
    max-width: 1000px; 
}
#obsetsvo{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    display: inline-block;
    margin: 15px auto;
}
.pa1{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
    display: inline-block;
    margin: 15px auto;
}
.filosofi1{
    margin: 55px auto 0;
    max-width: 1000px; 
}
#filosofi{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    display: inline-block;
    margin: 15px auto;
}
.pa2{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
    display: inline-block;
    margin: 15px auto;
}
.literat1{
    margin: 55px auto 0;
    max-width: 1000px;
}
#literat{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    display: inline-block;
    margin: 15px auto;
}
.pa3{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
    display: inline-block;
    margin: 15px auto;
}
.psiholog1{
    margin: 55px auto 0;
    max-width: 1000px;
}
#psiholog{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    display: inline-block;
    margin: 15px auto;
}
.pa4{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
    display: inline-block;
    margin: 15px auto;
}
.moe1{
    margin: 55px auto 0;
    max-width: 1000px;
}
#moe{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    display: inline-block;
    margin: 15px auto;
}
.pa5{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
    display: inline-block;
    margin: 15px auto;
}
.istoch1{
    display: flex;
    justify-content: end;
}
.istoch{
    font-size: 12px;
    background-color: #5B6866;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    display: inline-block;
}
.spis2{
    font-size: 12px;
    background-color: #5B6866;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    display: inline-block;
}
.BBA{
    font-size: 12px;
    background-color: #5B6866;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 5px 3px;
    margin: 50px auto;
    display: inline-block;
    margin: 15px auto;
}
