body{
    scroll-behavior: smooth;
}
.fist {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    max-width: 1446px;
    color: #96CDD0;
    padding: 10px;
    background-color: #5B6866;
    border-radius: 19px;
    text-align: center;
}
.zakolov{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #96CDD0;
    margin: 0 0 61px;
    padding: 25px 60px;
}
.osnovd{
    display: flex;
    max-width: 1763px;
    width: 100%;
    margin: 60px auto 0;
    justify-content: space-between;
}
.img{
    max-width: 694px;
}
.img > img{
    width: 100%;
    border-radius: 19px;
}
.texto{
    max-width: 873px;
}
.spis{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #96CDD0; 
    max-width: 577px;
    width: 100%;
}
.spis > li{
    padding: 0 0 0 24px;
}
.spis a{
    color: #96CDD0;
    text-decoration: none;
}
.obsetsvo1{
    margin: 55px auto 0;
    max-width: 1600px; 
}
#obsetsvo{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    text-align: center;
}
.pa1{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
}
.filosofi1{
    margin: 55px auto 0;
    max-width: 1600px; 
}
#filosofi{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    text-align: center;
}
.pa2{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
}
.literat1{
    margin: 55px auto 0;
    max-width: 1600px;
}
#literat{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    text-align: center;
}
.pa3{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
}
.psiholog1{
    margin: 55px auto 0;
    max-width: 1600px;
}
#psiholog{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    text-align: center;
}
.pa4{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
}
.moe1{
    margin: 55px auto 0;
    max-width: 1600px;
}
#moe{
    font-size: 30px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 8px 31px;
    text-align: center;
}
.pa5{
    font-size: 20px;
    background-color: #5B6866;
    border-radius: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080E46;
    padding: 13px 21px;
}
