h2, p, ul
{
    color: #64a58c;
}
h1
{
    font-size: 55px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    color: #64a58c;
}
img {
    width: 50%;
    margin: 0px;
}
